@import "../styles/variables.scss";

body {
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    font-family: $mainFont;
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 0px 20px;
    }
}
