@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: $mainColor;
        font-weight: 800;
        font-size: 26px;
        text-decoration: none;
        transition: 0.1s all ease-in-out;

        &:hover {
            color: darken($mainColor, 5%);
        }
    }

    button {
        @include button();
    }
}
